{% extends 'layouts/base.twig' %}

{% block headers %}
<link rel="stylesheet" type="text/css" href="{{ full_url_for('base_path') }}/css/chat.css">
<script defer src="{{ full_url_for('base_path') }}/js/chat.js"></script>
<script defer src="{{ full_url_for('base_path') }}/js/moment.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="chat">
            <div class="chat-header">
            </div>
            <div class="chat-body">
            </div>
            <form class="chat-sendmessage">
            	<input id="message" type="text" placeholder="Send message...">
            	<button id="send_message">Send</button>
            </from>
        </div>
    </div>
{% endblock %}