{% extends 'layouts/base.twig' %}

{% block content %}
    <div class="container">

   	    <div class="home_container form_grid">
   			<h1 style="text-align: center;"><span style="color: #ff445a;">Matcha</span> is about simple, convenient and always at hand, to continue using our dating service, please read the instructions below.</h1>

   			<hr style="width: 100%">

   			<div class="home_container-option">
   				<h2>First step: Registration</h2>
   				<div class="home_container-option inner">
   					<h3>You have two registration options:</h3>
   					<div class="home_container-option inner">
   						<h4>1) Native registration (confirm email)</h4>
   						<h4>1) Register via Google</h4>
   					</div>
   				</div>
   			</div>

   			<div class="home_container-option">
   				<h2>Second step: fill out the profile</h2>
   			</div>

   			<div class="home_container-option">
   				<h2>Third step: Choose your geolocation</h2>
   				<div class="home_container-option inner">
   					<h3>You have two options to do this:</h3>
   					<div class="home_container-option inner">
   						<h4>1) Manually select geolocation</h4>
   						<h4>1) Press the "Manage My Location" button and it will automatically find you</h4>
   						<div class="img_block">
   							<img src="http://localhost:8000/img/screenshots/1.png" alt="">
   						</div>
   						
   					</div>
   				</div>
   			</div>

   			<div class="home_container-option">
   				<h2>The fourth step: Сhoose and enjoy communication with other people</h2>
   			</div>
   		</div>
    </div>
{% endblock %}
